@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MvcExcelExtensions</h1>
    <p class="lead">MvcExcelExtensions is a free library that helps developer to create excel sheets easily as response to user.</p>
    <p><a href="/Home/ExportToExcel" class="btn btn-primary btn-lg">Download Sample Excel</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Check documentations and start using MvcExcelExtensions
        </p>
        <p><a class="btn btn-default" href="/Home/Documentation">Documentation</a></p>
    </div>
   
</div>